<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Employee Details</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <!--<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css" type="text/css" />-->
    <link href="Scripts/w3.css" rel="stylesheet" />
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.3/js/bootstrap-dialog.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.3/css/bootstrap-dialog.css" type="text/css" />-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="AngularFiles/Modules/ag-module-details.js"></script>
    <script src="AngularFiles/Contollers/ag-controller-EmployeeDetails.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.min.js"></script>-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

    <style>
        .w3-tangerine {
            font-family: 'Tangerine', serif;
        }

        .w3-Margin-Details {
            margin-top: 4px;
            margin-bottom: 4px;
            margin-right: 4px;
            margin-left: 4px;
        }
    </style>

    <script>
        $(document).ready(function () {
            if (typeof (Storage) !== "undefined") {
                // Code for localStorage/sessionStorage.
                var dialogInstance = BootstrapDialog.show({
                    //message: 'Web Storage support avaiable...',
                    message: 'Welcome !!! Vinay Singh. ',
                    type: BootstrapDialog.TYPE_INFO
                });
            } else {
                var dialogInstance = BootstrapDialog.show({
                    message: 'Sorry! No Web Storage support...',
                    type: BootstrapDialog.TYPE_DANGER
                });
            }

            $('[data-toggle="tooltip"]').tooltip();     // To bind the tooltip using bootsrap tooltip

            //$('#tblEmployeeDetails').DataTable();       // To Bind the Sorting to table

        });
    </script>
</head>
<body>
    <div class="container">

        <header id="employeeDetailsHeader">
            <div>
                <h1 class="text-center row">
                    <span class="col-sm-2">
                        <img src="Images/Vinay_Solution.png" />
                    </span>
                    <span class="col-sm-8 w3-text-left w3-text-deep-purple w3-tangerine">Employee Details</span>
                </h1>
            </div>
        </header>

        <div ng-app="employeeDetailsModule" ng-controller="EmployeeSaveController">
            <div id="formDiv" class="w3-light-grey">

                <form name="userForm" novalidate>
                    <div id="inputFormDiv" class="w3-card-8">
                        <br />
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-2 w3-Margin-Details">
                                <i class="w3-xlarge fa fa-id-card"></i>
                                <span>Employee Number: </span>&nbsp
                            </div>
                            <div class="col-sm-3 w3-Margin-Details">
                                <input type="text" class="w3-input w3-card-4 w3-border w3-round-xxlarge w3-hover-sand w3-hover-text-brown"
                                       required name="empNumber"
                                       id="txtEmployeeNumber" placeholder="Please enter employee id" ng-disabled="EditRecord[1]" ng-model="currentEmployee.employeeId" />
                                <span>
                                    <i ng-show="userForm.empNumber.$valid" class="fa fa-thumbs-o-up text-success" aria-hidden="true"></i>
                                    <p ng-show="userForm.empNumber.$invalid && !userForm.empNumber.$pristine" class="w3-text-red help-block">You name is required.</p>
                                </span>
                            </div>
                            <div class="col-sm-2 w3-Margin-Details">
                                <i class="w3-xlarge fa fa-user"></i>&nbsp;&nbsp;
                                <span>Employee Name:</span>
                            </div>
                            <div class="col-sm-3 w3-Margin-Details">
                                <input type="text" class="w3-input w3-card-4 w3-border w3-round-xxlarge w3-hover-sand w3-hover-text-brown"
                                       required ng-minlength="5" ng-maxlength="25" name="name"
                                       id="txtEmployeeName" placeholder="Please enter employee name" ng-model="currentEmployee.fullName" />
                                <i ng-show="userForm.name.$valid" class="fa fa-thumbs-o-up text-success" aria-hidden="true"></i>
                                <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="w3-text-red help-block">Employee name is required.</p>
                                <p ng-show="userForm.name.$error.minlength" class="w3-text-red help-block">Employee name is too short. Minimum of 5 charcters required.</p>
                                <p ng-show="userForm.name.$error.maxlength" class="w3-text-red help-block">Employee name is too long. Maximum of 25 characters are allowed.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-2 w3-Margin-Details">
                                <i class="w3-xlarge fa fa-envelope-o"></i>&nbsp;&nbsp;
                                <span>Email id:</span>
                            </div>
                            <div class="col-sm-3 w3-Margin-Details">
                                <input type="email" class="w3-input w3-card-4 w3-border w3-round-xxlarge w3-hover-sand w3-hover-text-brown"
                                       name="email" required
                                       id="txtEmailId" placeholder="Please enter email id" ng-model="currentEmployee.emailId" />
                                <i ng-show="userForm.email.$valid" class="fa fa-thumbs-o-up text-success" aria-hidden="true"></i>
                                <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="w3-text-red  help-block">Enter a valid email.</p>
                            </div>
                            <div class="col-sm-2 w3-Margin-Details">
                                <i class="w3-xlarge fa fa-phone"></i>&nbsp;&nbsp;
                                <span>Mobile Number :</span>
                            </div>
                            <div class="col-sm-3 w3-Margin-Details">
                                <input type="number" class="w3-left w3-card-4 w3-input w3-border w3-round-xxlarge w3-hover-sand w3-hover-text-brown"
                                       required ng-minlength="8" ng-maxlength="12" name="mobileNumber"
                                       id="txtMobileNumber" placeholder="Please enter mobile number" ng-model="currentEmployee.mobileNumber" />
                                <i ng-show="userForm.mobileNumber.$valid" class="fa fa-thumbs-o-up text-success" aria-hidden="true"></i>
                                <p ng-show="userForm.mobileNumber.$invalid && !userForm.mobileNumber.$pristine" class="w3-text-red  help-block">Please enter valid mobile number.</p>
                                <p ng-show="userForm.mobileNumber.$error.minlength" class="w3-text-red  help-block">Mobile number is too short. Minimum of 8 characters are required.</p>
                                <p ng-show="userForm.mobileNumber.$error.maxlength" class="w3-text-red  help-block">Mobile number is too long. Maximum of 12 characters are allowed.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-2 w3-Margin-Details">
                                <i class="w3-xlarge fa fa-male"></i>&nbsp;&nbsp;
                                <span>Employee Gender:</span>
                            </div>
                            <div class="col-sm-3 w3-Margin-Details">
                                <span ng-repeat="genders in listofGenders">
                                    <input class="w3-radio" type="radio" name="gender" value="{{genders.value}}"
                                           ng-model="currentEmployee.gender" ng-checked="{{genders.selected}}" />
                                    <label class="w3-validate">{{genders.text}}</label>
                                </span>
                            </div>
                            <div class="col-sm-2 w3-Margin-Details">
                                <!--<i class="w3-xlarge fa fa-heart"></i>-->
                                <img src="Images/Wedding.jpg" />
                                <span>Maritial Status:</span>
                            </div>
                            <div class="col-sm-2 w3-Margin-Details w3-bordered">
                                <select class="form-control w3-card-4" ng-options="status.value as status.text for status in listofMaritialStatus"
                                        name="statusId" required ng-model="currentEmployee.maritialStatus" id="ddlMaritialStatus">
                                    <option disabled="disabled" value="">Select Status</option>
                                </select>
                                <i ng-show="(userForm.statusId.$valid && (currentEmployee.maritialStatus != 0))" class="fa fa-thumbs-o-up text-success" aria-hidden="true"></i>
                                <p ng-show="userForm.statusId.$invalid && !userForm.statusId.$pristine" class="w3-text-red help-block">Please select a status</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-2 w3-Margin-Details">
                                <i class="w3-xlarge fa fa-pencil"></i>&nbsp;&nbsp;
                                <span>Employee Address:</span>
                            </div>
                            <div class="col-sm-8 w3-Margin-Details">
                                <textarea class="form-control w3-card-4" rows="2" placeholder="Please enter address" id="txtaddress"
                                          required name="empAddress" ng-model="currentEmployee.address"></textarea>
                                <i ng-show="userForm.empAddress.$valid" class="fa fa-thumbs-o-up text-success" aria-hidden="true"></i>
                                <p ng-show="userForm.empAddress.$invalid && !userForm.empAddress.$pristine" class="w3-text-red help-block">Address is required.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-offset-2 w3-Margin-Details col-sm-10 w3-center">
                                <button type="submit"
                                        ng-disabled="! (userForm.empNumber.$valid && userForm.name.$valid && userForm.email.$valid &&
                                                    userForm.mobileNumber.$valid && (userForm.statusId.$valid && (currentEmployee.maritialStatus != 0)) && userForm.empAddress.$valid)"
                                        ng-click="AddEmployee(true)"
                                        class="btn w3-large w3-card-4 w3-round-xxlarge btn-success">
                                    Submit
                                </button>
                                <button type="submit" ng-click="ClearMe()"
                                        class="btn w3-large w3-card-4 w3-round-xxlarge btn-default">
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <br />
                <div id="resultGridDiv" class="row w3-card-4 w3-light-grey">
                    <table id="tblEmployeeDetails" ng-hide="empCount < 1" class="w3-table-all col-sm-12">
                        <thead>
                            <tr class="w3-text-center">
                                <th class="col-sm-1">Name</th>
                                <th class="col-sm-2">Number</th>
                                <th class="col-sm-2">Email Id</th>
                                <th class="col-sm-2">Mobile Number</th>
                                <th class="col-sm-1">Status</th>
                                <th class="col-sm-1">Gender</th>
                                <th class="col-sm-2">Address</th>
                                <th class="col-sm-1">Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="emp in employeeList">

                                <td class="col-sm-1">
                                    {{emp.employeeId}}
                                </td>

                                <td class="col-sm-2">
                                    {{emp.fullName}}
                                </td>

                                <td class="col-sm-2">
                                    {{emp.emailId}}
                                </td>

                                <td class="col-sm-2">
                                    {{emp.mobileNumber}}
                                </td>

                                <td class="col-sm-1">
                                    {{emp.gender}}
                                </td>

                                <td class="col-sm-1">
                                    {{emp.maritialStatus}}
                                </td>

                                <td class="col-sm-2">
                                    {{emp.address}}
                                </td>

                                <td class="col-sm-1 btn-group">
                                    <div class="w3-btn-group">

                                        <!--data-toggle="modal" data-target="#modDisplay"-->
                                        <button class="w3-btn w3-white w3-btn-floating btn-Display" style="width: 33.3%"
                                                data-toggle="tooltip" title="Click on to view the record"
                                                ng-click="DisplayEmployeeDetails(emp.employeeId)">
                                            <i class="w3-xlarge fa fa-file-text-o"></i>

                                        </button>
                                        <button class="w3-btn w3-white w3-btn-floating" style="width: 33.3%"
                                                data-toggle="tooltip" title="Click on to edit the record"
                                                ng-click="EditEmployeeDetails(emp.employeeId)">
                                            <i class="w3-xlarge fa fa-pencil"></i>
                                        </button>
                                        <button class="w3-btn w3-white w3-btn-floating" style="width: 33.3%"
                                                data-toggle="tooltip" title="Click on to delete the record"
                                                ng-click="DeleteEmployeeDetails(emp.employeeId)">
                                            <i class="w3-xlarge fa fa-trash-o"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <footer id="employeeDetailsFooter">
            <!--<span class="w3-text-deep-purple w3-tangerine">Footer Details</span>-->
        </footer>

    </div>
</body>
</html>