
.TFtable {
    width: 100%;
    border-collapse: collapse;
}

.TFtable td {
    padding: 7px;
    border: #4e95f4 1px solid;
}

/* provide some minimal visual accomodation for IE8 and below */
.TFtable tr {
     background: #b8d1f3;
}

/*  Define the background color for all the ODD background rows  */
.TFtable tr:nth-child(odd) {
     background: #5591e2;
}

/*  Define the background color for all the EVEN background rows  */
.TFtable tr:nth-child(even) {
     /*background: #dae5f4;*/
     background: #dfeff7;
}

.tdStyling {
    font-family:  'Segoe UI';
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
}

.gridHeaderStyling {
    font-family:  'Segoe UI';
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

.popUpDiv {
    font-family: 'Segoe UI Symbol';
    font-size: 16px;
    font-style: normal;
}

a {
    color: steelblue;
    font-size: 14px;
}

/* unvisited link */
a:link {
    color: red;
    font-size: 14px;
}

/* visited link */
a:visited {
    font-family:'Segoe UI';
    font-size: 12px;
    color: green;
}

.SavePopUpHeader {
   background-color:lightskyblue;
}

.SavePopUpFooter {
   background-color:lightgray;
}

.PopUpTable {
    font-family:'Segoe UI';
    font-size:12px;
    font-weight:normal;
}

select {
     width: 100%;
     text-align: center;
     padding-left: 50%;
}

