<div class="modal-header w3-text-brown w3-light-grey">
    <h1 class="modal-title w3-center">Employee Details</h1>
</div>

<div class="modal-body">
    <table class="w3-table table-responsive w3-table-all w3-card-10" id="tblDisplayEmployeeDetails">
        <tbody>
            <tr>
                <td class="col-lg-4">Employee Number
                </td>
                <td class="col-lg-8">
                    <label id="lblEmployeeNumber">
                        {{items.employeeId}}
                    </label>
                </td>
            </tr>
            <tr>
                <td class="col-lg-4">Employee Name
                </td>
                <td class="col-lg-8">
                    <label id="lblEmployeeName">
                        {{items.fullName}}
                    </label>
                </td>
                <tr>
                    <td class="col-lg-4">Email Id
                    </td>
                    <td class="col-lg-8">
                        <label id="lblEmailId">
                            {{items.emailId}}
                        </label>
                    </td>
                </tr>
            <tr>
                <td class="col-lg-4">Mobile Number
                </td>
                <td class="col-lg-8">
                    <label id="lblMobileNumber">
                        {{items.mobileNumber}}
                    </label>
                </td>
            </tr>
            <tr>
                <td class="col-lg-4">Employee Gender
                </td>
                <td class="col-lg-8">
                    <label id="lblEmployeeGender">
                        {{items.gender}}
                    </label>
                </td>
            </tr>
            <tr>
                <td class="col-lg-4">Maritial Status
                </td>
                <td class="col-lg-8">
                    <label id="lblMaritialStatus">
                        {{items.maritialStatus}}
                    </label>
                </td>
            </tr>
            <tr>
                <td class="col-lg-4">Employee Address
                </td>
                <td>
                    <label id="lblAdress" class="col-lg-8">
                        {{items.address}}
                    </label>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="modal-footer w3-grey">
    <!-- <button type="reset" class="btn btn-primary" data-dismiss="modal">Close</button>-->
    <!--<button class="btn btn-primary" ng-click="ok()">OK</button>-->
    <button class="btn w3-large w3-card-4 w3-round-xxlarge btn-success" ng-click="cancel()">Close</button>
</div>